{% extends "navbar.html" %}
{% block title %}Home Page{% endblock%}
{%block content %}
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title>JEiskamp Portfolio</title>
    </head>
    <body>
  <div class="box">
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQFqMdmbPUgGRQ/profile-displayphoto-shrink_200_200/0/1619481551315?e=1625097600&v=beta&t=pzNhKICYm937CPp8ZC4NVKWVe_cUgipXD5h_Vff_1To" alt="" class="box-img">
    <h1>Justin Eiskamp</h1>
    <h5>Software Developer - Process Automation</h5>
    <p>I am passionate about process automation technologies that remove tedious tasks out of your business to generate new found time. Currently I specialize in creating Microsoft Excel automation programs to assist in reformatting, populating, merging, pulling, and pushing data for clients. These programs benefit a wide range of small and large businesses to their specif needs. How could you utilize the time saved by an Excel Automation expert?</p>
  <ul>
    <li><a href="https://github.com/jeiskamp"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/justin-eiskamp-3738621ba/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
  </ul>
  </div>
    </body>
</html>
{% endblock %}
