<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Personal WebSite</title>
    </head>
    <body>
  <div class="box">
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQFqMdmbPUgGRQ/profile-displayphoto-shrink_200_200/0/1619481551315?e=1625097600&v=beta&t=pzNhKICYm937CPp8ZC4NVKWVe_cUgipXD5h_Vff_1To" alt="" class="box-img">
    <h1>Justin Eiskamp</h1>
    <h5>Software Developer - Process Automation</h5>
    <p>A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.</p>
  <ul>
    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
  </ul>
  </div>
    </body>
</html>
